@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

@font-face {
  font-family: 'HK-Grotesk-Bold';
  src: url('../assets/fonts/HKGrotesk-Bold.woff2') format('woff2'),
    url('../assets/fonts/HKGrotesk-Bold.woff') format('woff'),
    url('../assets/fonts/HKGrotesk-Bold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'HK-Grotesk-Medium';
  src: url('../assets/fonts/HKGrotesk-Medium.woff2') format('woff2'),
    url('../assets/fonts/HKGrotesk-Medium.woff') format('woff'),
    url('../assets/fonts/HKGrotesk-Medium.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'HK-Grotesk-Regular';
  src: url('../assets/fonts/HKGrotesk-Regular.woff2') format('woff2'),
    url('../assets/fonts/HKGrotesk-Regular.woff') format('woff'),
    url('../assets/fonts/HKGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
}

html {
	/* this smooths our fonts nicely on higher density screens */
  -webkit-font-smoothing: antialiased;
}
