.home{
  /* background-image: url(../assets/images/header_bg00.jpg);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat; */
  max-height: 100vh;
  position: relative;
  text-align: center;
}

.home-bg{
  /* background-image: url(../assets/images/header_bg00.jpg); */
  /* background-size: 100% auto; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  z-index: -1;
}

/* .home-bg-00{
  background-image: url(../assets/images/header_bg00.jpg);
}
.home-bg-01{
  background-image: url(../assets/images/header_bg01.jpg);
}
.home-bg-02{
  background-image: url(../assets/images/header_bg02.jpg);
}
.home-bg-03{
  background-image: url(../assets/images/header_bg03.jpg);
}
.home-bg-04{
  background-image: url(../assets/images/header_bg04.jpg);
} */

header{
  position: relative;
  text-align: center;
}

header img{
  max-width: 200px;
  padding:1rem;
}

.home-title{
  font-family: 'HK-Grotesk-Bold', sans-serif;
  color:#fff;
  /* -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #fff; */
  font-size:8vw;
}

.home-title h1{
  padding:10px;
}


.menu-toggle{
  position:fixed;
  top:1.4rem;
  left:1rem;
  /* position:absolute; */
  z-index:4;
  /* invert the color of image */
  filter: invert(100%);
}

.menu{
  background-color: #0096d6;
  /* background-color: #004065; */
  width:30vw;
  min-width: 330px;
  position:fixed;
  top:0;
  left:0;
  height:100%;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 2;
}

.nav-item{
  list-style-type: none;
}

.open{
  transform: translateX(0px);
}

.navigation {
  position: absolute;
  left: 65px;
  top: 50%;
  transform: translateY(-50%);
}

.navigation a{
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  color:#fff;
  display:block;
  margin-bottom:25px;
}
