/* Portrait */
@media only screen
  and (orientation: portrait) {

  header{
    height:9vh;
  }

  .home-title{
    margin-top: 20vh;
    font-size: 9vw;
  }
  .home-title h1{
    padding:3vh 0;
  }

  .menu-toggle img{
    height:6vw;
    margin:1.5vw;
  }

  .matuanzhang-logo img{
    max-width:30vw;
    margin-top: 0.5vh;
  }

  .navigation{
    margin-top: 6vw;
  }

  .scroll-to{
    width:10vw;
    height:8vh;
  }

  .menu{
    width:65vw;
    min-width: 0;
  }

  .navigation {
    left:10vw;
  }

  .navigation a{
    font-size: 6vw;
    margin-bottom:6vw;
  }

  .heading{
    font-size:15vw;
    margin-top: 4vh;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
  }

  .aboutMe-details{
    flex-direction: column-reverse;
  }

  .introduce-myself{
    width:100%;
    margin-top: 2vh;
  }

  .portrait{
    width:100%;
    text-align: center;
    margin-bottom: 5vw;
    padding:0;
  }
  .portrait img{
    width:30vw;
  }

  .introduce-myself p{
    font-size: 1.5vh;
  }

  .heading-photography{
    writing-mode:horizontal-tb;
    text-orientation: none;
    transform: rotate(0deg);
    padding:0;
    font-size:12vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    width:100%;
  }

  .slideshow{
    width:100%;
    margin-top: 10vh;
  }

  .click-for-more{
    font-size: 5vw;
  }

  .book-image{
    width:100%;
    text-align: center;
  }
  .book-image img{
    width:25vw;
  }

  .book-details{
    width:100%;
    text-align: center;
  }

  .book-introduction h2{
    line-height: 1.5;
    font-size: 3vw;
  }
  .book-introduction h3{
    font-size: 2.5vw;
  }

  .summary{
    font-size: 2vw;
  }

  .book-links a{
    font-size: 3vw;
  }

  .joints{
    font-size: 3vw;
  }

  .links-1 a{
    width:50%;
  }
  .links-1 img{
    width:4vw;
  }
  .links-1 p{
    font-size: 3vw;
  }

  .email-tel{
    width:100%;
    margin: 2vw 0;
  }
  .email-tel p{
    font-size: 3vw;
  }
  .email-tel img{
    width:4vw;
  }

  .back-to-top{
    bottom: 5vw;
  }

  footer{
    height:15vw;
  }

  footer img{
    max-height:15vw;
    padding:3vw;
  }
  footer p{
    padding-top: 5vw;
    padding-right: 4vw;
    font-size: 2.5vw;
  }

}


/* landscape 768px - 1024px */
@media only screen
  and (min-width:48em)
  and (max-width:64em)
  and (orientation: landscape) {

  .heading{
    font-size: 7vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: #fff;
  }

  .home-title{
    margin-top: 0vw;
  }

  .introduce-myself p{
    font-size: 2.5vh;
  }

  .heading-photography{
    font-size: 10vh;
  }


  .book-introduction h3{
    margin-bottom: 2vh;
  }

  .italic{
    font-size: 1.2vw;
  }

  .summary{
    font-size: 0.9rem;
    margin-top: 2vh;
  }

  .buy-it h2{
    font-size: 1.2rem;
  }

  .book-links{
    font-size: 2.5vh;
  }

  .joints{
    font-size: 2.5vw;
    padding: 1rem 0;
  }

  .back-to-top p{
    font-size: 0.8rem;
    bottom:1rem;
  }

  footer img{
    padding:0.8rem;
  }

  footer p{
    padding-top: 1.5vw;
  }
}

/* landscape < 768px */
@media only screen
  and (max-width:48em)
  and (orientation: landscape) {

  .home-title{
    padding:12vh 0;
  }

  .menu-toggle img {
    max-width: 5vw;
    padding: 1vw 1vw;
  }

  .menu{
    width:30vw;
    min-width: 7rem;
  }

  .heading{
    padding-bottom: 0;
  }
  .aboutMe, .publication-ZHY, .contact-ZHY{
    padding-top: 4vw;
  }

  .introduce-myself p{
    font-size: 1vh;
  }

  .photography-ZHY{
    padding-top: 7vw;
  }

  .click-for-more{
    font-size: 3vw;
  }
  .book-introduction h3{
    font-size: 2vw;
  }
  .italic{
    font-size: 1vw;
  }

  .summary{
    font-size: 1vw;
  }

  .buy-it h2{
    font-size: 3vw;
  }
  .book-links a{
    font-size: 1vw;
  }

  .joints{
    font-size: 3vw;
    padding:1rem 0;
  }

  .links-1 p, .links-2 p{
    font-size: 1rem;
  }

  .links-1 img, .links-2 img{
    width:1.2rem;
  }

  .links-1 a, .links-2 a{
    padding-bottom: 2rem;
  }

  .back-to-top p{
    font-size: 2vw;
  }

  footer img{
    padding:10px;
  }
  footer p{
    font-size: 10px;
    padding-top: 2vh;
  }
}

@media only screen
  and (max-width:30em)
  and (orientation: landscape) {

  .aboutMe-details{
    flex-direction: column-reverse;
  }

  .introduce-myself{
    width:100%;
    margin-top: 0;
  }

  .portrait{
    width:100%;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 1vw;
    padding:0;
  }
  .portrait img{
    width:30vw;
  }

  .book-image{
    width:100%;
    text-align: center;
    padding: 2vh 0;
  }

  .book-image img{
    width:25vw;
  }

  .book-details{
    width:100%;
    text-align: center;
  }

  .book-introduction h2{
    line-height: 1.5;
    font-size: 3vw;
  }
  .book-introduction h3{
    font-size: 2.5vw;
  }

  .book-links a{
    font-size: 3vw;
  }

  .joints{
    font-size: 3vw;
  }

  .links-1 a{
    width:50%;
  }
  .links-1 img{
    width:4vw;
  }
  .links-1 p{
    font-size: 3vw;
  }

  .email-tel{
    width:100%;
    margin: 2vw 0;
  }
  .email-tel p{
    font-size: 3vw;
  }
  .email-tel img{
    width:4vw;
  }

  .links-1 a, .links-2 a{
    padding-bottom: 1rem;
  }

  .jonts{
    padding:10px 0;
  }

  .back-to-top{
    bottom: 10px;
  }

  .back-to-top p{
    font-size: 1px;
  }

  footer img{
    padding:6px;
  }
  footer p{
    font-size: 1px;
  }

}
