:root{
  --red:#CE1C00;
}

body{
  font-size: 1.4vw;
  font-family: 'Hammersmith One', sans-serif;
  line-height: 1.5;
}

.clearfix{
  clear:both;
}

.container-r{
  /* max-width:960px; */
  max-width:85vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2vw;
  padding-right: 2vw;
}

header{
  height:10vw;
}

.links{
  padding-top: 4vw;
}

header a{
  font-size: 2vw;
  margin:0 2vw;
  color:#004065;
  text-decoration: none;
  transition: border 0.5s ease;
  border-bottom: solid 2px rgba(0,0,0,0);
}

header a:hover{
  border-bottom: 2px solid;
  color:var(--red);
}

.resume-title{
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.resume-title h1{
  font-size: 7vw;
  padding-bottom: 8px;
  /* text-align: right; */
}

.name h1{
  display: inline-block;
}

.last-name{
  margin-left: 2vw;
  color:var(--red);
}

.resume-title p{
  color:#fff;
  padding:1vw 1vw;
  text-align: right;
  font-size: 1.5vw;
}

.title-details{
  background-color: #000;
  width:100%;
}

h2{
  font-size: 3vw;
  border-bottom: 3px solid var(--red);
  margin-top: 1.5vw;
  margin-bottom: 1vw;
}

.bullet{
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 4vw;
  text-indent: -2vw;
}

.lists{
  text-indent: 2vw;
}

.book-title{
  font-style: italic;
}

footer{
  height:10vw;
}


@media only screen
  and (orientation: portrait) {

  header{
    height:8vh;
  }
  .links {
    padding-top: 4vh;
  }
  header a{
    font-size: 3vw;
  }
}
