body{
  font-size: 16px;
  line-height: 1.5;
}

.container{
  max-width:960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.scroll-to{
  position: absolute;
  /* left:50%; */
  transform:translateX(-50%);
  bottom:1.5rem;
  width:4rem;
  height:32px;
  background-image:url(../assets/images/down-arrow.svg);
  filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}

.scroll-to:hover{
  transform: scale(1.2) translateX(-40%);
  opacity:0.8 ;
}

.menu-toggle{
  /* position:fixed;
  top:1.4rem;
  left:1rem; */
  position:absolute;
  top:1.4rem;
  left:1rem;
  z-index:4;
  /* invert the color of image */
  filter: invert(100%);
}

.menu{
  background-color: #0096d6;
  /* background-color: #004065; */
  width:30vw;
  min-width: 330px;
  position:fixed;
  top:0;
  left:0;
  height:100%;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 2;
}

.nav-item{
  list-style-type: none;
}

.open{
  transform: translateX(0px);
}

.navigation {
  position: absolute;
  left: 65px;
  top: 50%;
  transform: translateY(-50%);
}

.navigation a{
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  color:#fff;
  display:block;
  margin-bottom:25px;
}

.aboutMe{
  background-color: #222;
}

.heading{
  font-size: 100px;
  font-family: 'HK-Grotesk-Bold', sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.aboutMe p{
  color:#fff;
  font-size: 1.5rem;
  padding-top:2rem;
  padding-bottom:2rem;
}
