body{
  font-size: 16px;
  line-height: 1.5;
}

.container{
  /* max-width:960px; */
  max-width:80vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.scroll-to{
  position: absolute;
  left:50%;
  transform:translateX(-50%);
  bottom:1.5rem;
  width:4rem;
  height:32px;
  background-image:url(../assets/images/down-arrow.svg);
  filter: invert(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}

.scroll-to:hover{
  transform: scale(1.2) translateX(-40%);
  opacity:0.8 ;
}

.fade-inview{
  opacity:0;
  transition: opacity 1s ease;
}

.visible {
  opacity: 1;
}

.aboutMe{
  background-color: #222;
  position: relative;
}

.heading{
  font-size: 100px;
  font-family: 'HK-Grotesk-Bold', sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.aboutMe p{
  font-family: 'HK-Grotesk-Medium', sans-serif;
  color:#fff;
  font-size: 1.2rem;
  padding-top:1rem;
  padding-bottom:2rem;
  padding-right: 1rem;
}

.introduce-myself a{
  color: #c8b18b;
}

.portrait{
  padding:1rem 2rem 1.5rem 1.5rem;
}

.photography-ZHY{
  background-color:#004065;
  position:relative;
}

.slideshow-box{
  height:80vh;
  padding-top: 2vh;
  overflow: hidden;
}

.heading-photography{
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  font-size:80px;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/* ↓↓↓ For slideshow */

.slideshow{
  /* background-image: url(../assets/images/20130829-ending.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
  position: relative;
  overflow: hidden;
}

.holder{
  position: relative;
  top: 0;
  left: 0;
  width: 1000vw;
  height:75vh;
  transition: left 1s;
}

.slide-pic{
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 10px;
}

.slide-1{
  background-image: url(../assets/images/slideshow_00.jpg);
}

.slide-2{
  background-image: url(../assets/images/slideshow_01.jpg);
}

.slide-3{
  background-image: url(../assets/images/slideshow_02.jpg);
}

.slide-4{
  background-image: url(../assets/images/slideshow_03.jpg);
}

.slide-5{
  background-image: url(../assets/images/slideshow_04.jpg);
}

.slide-6{
  background-image: url(../assets/images/slideshow_05.jpg);
}

.steps {
  position: absolute;
  /* bottom: 100px; */
  /* "bottom:" use js to create responsive number  */
  left: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color:#fff;
  font-family: 'HK-Grotesk-Medium', sans-serif;
  font-size: 2vw;
}

/* .dot {
  text-align: center;
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 0 0.5vw;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

.active, .dot:hover {
  background-color: #717171;
}

.prev{
  cursor: pointer;
  position: absolute;
  left: 10px;
  color:#fff;
  font-size: 4vw;
  transform: translateY(-50%);
}

.next{
  cursor: pointer;
  position: absolute;
  right: 10px;
  color:#fff;
  font-size: 4vw;
  transform: translateY(-50%);
}

/* ↑↑↑ For slideshow */

.publication-ZHY{
  background-color:#c8b18b;
  position:relative;
}

.contact-ZHY{
  background-color:#008367;
  position:relative;
}

footer{
  min-height: 10vh;
}
