.test{
  max-width:100vw;
  max-height:100vh;
}

.test-01,.test-02,.test-03,.test-04,.test-05{
  background-size: 100% auto;
  background-position: contain;
  background-repeat: no-repeat;
  width:100vw;
  height:100vh;
}

.test-01{
  background-image: url(../assets/images/header_bg00.jpg);
}

.test-02{
  background-image: url(../assets/images/header_bg01.jpg);
}

.test-03{
  background-image: url(../assets/images/header_bg02.jpg);
}

.test-04{
  background-image: url(../assets/images/header_bg03.jpg);
}

.test-05{
  background-image: url(../assets/images/header_bg04.jpg);
}
